body {
  background-color: #ddd;
  color: #444;
  font-family: arial;
}
h1, h2 {
   margin: 0 20px;
}
section {
  position: relative;
  margin:0;
  padding:0;
}
body > header,
body > nav,
body > section,
body > footer {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
body > header,
body > footer {
   background-color: 100077;
   color: #ddd;
}
body > nav {
   background-color: #fff;
}
section footer p {
   padding:0;
   margin:0;
}
article {
   padding: 0;
   margin: 10px -10px;
   border: 1px solid #afafaf;
   border-radius: 5px;
   background-color: #addaad;
}
article > div {
   background-color: #efefef;
   padding: 20px;
}
article > header {
   padding: 10px;
}
article > header >h2 {
   padding: 0;
   margin: 0;;
}
article > footer {
   text-align: right;
   padding: 5px;
   font-size: 80%;
}
form {
   width: 70%;
   padding: 10px 0;
   margin 0;
   background-color: #dfdedc;
   border-radius: 5px;
   text-align: center;
}
form h2 {
   margin:0;
   padding: 5px 10px;
   text-align: left;
}
input,textarea{
  width: 93%;
  margin: 5px;
  border-radius: 5px;
  padding: 2%;
  font-family: arial;
  font-size: 16px;
  color: #000;
  border: 1px solid #777;
}
button {
  font-weight: bold;
  background-color: #100077;
  margin: 10px auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 120%;
  text-shadow: 1px 1px #000;
  color: #eee;
}
section > aside {
  float: right;
  width: 29%;
  font-weight:bold;
  text-shadow: 1px 1px #fafafa;
  background-color: #dbdbdb;
  text-align:center;
  border-radius: 5px;
}